body{
    background-image: url("img/img_1.png");
}

img {
    display: block;
    float: right;
    width: 200px;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
}

h2 {
    color: rgb(46, 108, 227);
    background: rgba(110, 153, 243, 0.12);
}

.b1 {
    color: #6e99f3;
}

.td1 {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    color: #6e99f3;
}

.tr1 {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    background: rgba(196, 196, 196, 0.39);
}

.td2 {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
    color: blue;
}
.td3{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid black;
}